.mushroom-container {
  padding: 2rem 10%;
  font-family: Arial, sans-serif;
  /* margin-top: 50px; */
}

.mushroom-title {
  color: #2ca8dd;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.mushroom-subtitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mushroom-intro {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.mushroom-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.price {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.details-btn {
  background: #7ab84b;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.details-btn:hover {
  background: #5d9b36;
}

.mushroom-image-grid {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.mushroom-image-grid img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}
